doctype html
html(data-bs-theme="dark")
  head
    title Sable Progress Tracker
    link(rel="stylesheet", href="index.css")
    link(rel="stylesheet", href="bootstrap.min.css")
  body
    div#screen-select-save
      div.p-3.h-100.d-flex.align-items-center.justify-content-center
        button.btn.btn-primary#generate Select save file
    div.hidden.container#screen-report
      div.row.p-3.align-items-start
        div.col#masks
        div.col#outfits
        div.col#bikes
    script(src="index.js")
